.container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4,24%);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-content: center;
  .post-card {
    background: rgb(120, 120, 122);
    border: 1px solid black;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
}
