// @import "src/scss/variables";
// .card-about {
//   background: $default_white;
//   color: $default_black;
//   height: 100%;
// }

.card-about {
    background: #fff;
    color: #000;
    height: 100%;
}