html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remaining-space {
    flex: 1 1 auto;
}

.container-spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fun {
    background-color: green !important;
}

.business{
    background-color: rebeccapurple !important;
}

.family {
    background-color: salmon !important;
}

mat-chip.mat-chip.mat-primary.mat-standard-chip{
    min-height: 2rem;
    padding: 9px;
}